@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.login-style .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
}

.login-style .col-1 {
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    background: linear-gradient(135deg, #125b0c, #727911);
    color: white;
}

.login-style .col-1 h1 {
    font-size: 6rem;
    font-family: 'Montserrat';
    font-weight: bold;
    padding-top: 90px;
    padding-bottom: 5px;
}

.login-style .col-1 p {
    font-size: 1.8rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 200;
    padding-right: 200px;
}

.login-style .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.login-style .col-2 h2 {
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #125b0c;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-style form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}

.login-style label {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 5px;
}

.login-style input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
}

.login-style input:focus {
    border-color: #7F56D9;
    outline: none;
}

.login-style .error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.login-style button {
    background: linear-gradient(135deg, #137d0d, #afba17);
    align-self: center;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-style button:hover {
    opacity: 0.8;
}

.mobile-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #2a2a2a;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.mobile-message h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.mobile-message p {
    font-size: 18px;
    padding-bottom: 140px;
}

.mobile-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}